h1{
	font-size: 40px;
	font-weight: 500;
}
#container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#buttons{
	margin-top: 50px;
}
#tile_container{
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 300px;
	background-color: #aaa;
}
.row{
	flex:1;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.row > div{
	flex: 1;
	background-color: #dedede;
	margin-right: 5px;
}
.row>div:first-child{
	margin-left: 5px;
}
.row{
	margin-bottom: 5px;
}
.row:first-child{
	margin-top: 5px;
}
#buttons>button{
	font-size: 24px;
	padding: 8px;
}
#buttons>:first-child{
	margin-right: 6px;
}